@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 5%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: azure;
    margin-left: 20px;
    transition: all 0.1s ease-in 0s;
}

.navbar ul li a:hover {
    color: #22d3ee;
}

.navbar input {
    position: absolute;
    top: 20px;
    left: 10%;   
    display: none; 
}

.menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 8%;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: azure;
    border-radius: 5px;
} 

.content {
    padding-top: 180px;
    text-align: center;
}

.content h1 {
    color: azure;
    font-size: 75px;
}

.content p {
    color: azure;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 40px;
}

.content a {
    text-decoration: none;
    color: azure;
    border: azure solid 3px;
    margin: 0px 10px;
    padding: 10px 40px;
    border-radius: 30px;
}

.content a:hover {
    color: #22d3ee;
}



@media (max-width:700px) {
    .menu {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
  
    .toggle-btn:checked ~ nav {
        display: none;
    }
    
    .content {
        padding-top: 80px;
    }

    .content a {
        margin: 0px 10px;
        padding: 10px 20px;
    }

    .navbar ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li a{
        margin-bottom: 10px;
    }
}