@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("background.jpg");
    background-size: cover;
    height:100vh;
    background-position: center;
}

.container {
    max-width: 1300px;
    padding: 5px 25px;
    margin: auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 150px;
    padding: 5px 25px;

}

.navbar ul li{
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.navbar ul li a {
    color: #d1d5db;
    transition: all 0.1s ease-in 0s;
}

.navbar ul li a:hover {
    color: #f9fafb;
    font-weight: 500;
}

.content {
    margin-top: 200px;
    color: #d1d5db;
    text-align: center;
}

.content h1{
    font-size: 70px;
}

.content p {
    margin-top: 10px;
    font-size: 20px;
}

.button {
    text-align: center;
    margin-top: 25px;
}

.button a {
    color: #d1d5db;
    border: 2px solid #d1d5db;
    border-radius: 25px;
    padding: 10px 25px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.1s ease-in 0s;
}

.button a:hover {
    color: #f9fafb;
    font-weight: 500;
    border: 2.3px solid #f9fafb;
}

.menu img {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    display: none;
}

@media (max-width:800px) {
    .container {
        padding: 0%;
        margin: 0%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0%;
        margin: 0%;
    }

    nav {
        display: none;
        background: black;
        width:100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 20px;
    }

    nav ul li {
        padding: 10px;
    }

    .menu img {
        display: flex;
    }
}